@font-face {
    font-family: 'kanit-light';
    src: url(../assets/fonts/Kanit/Kanit-Light.ttf) format("truetype");
}

/*Typeface - all pages*/
@font-face {
    font-family: 'kanit-regular';
    src: url(../assets/fonts/Kanit/Kanit-Regular.ttf) format("truetype");
}