/*Typeface - all pages*/
@font-face {
    font-family: 'kanit-regular';
    src: url('/proyecto-final-webdev/assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'kanit-bold';
    src: url('/proyecto-final-webdev/assets/fonts/Kanit/Kanit-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'kanit-light';
    src: url('/proyecto-final-webdev/assets/fonts/Kanit/Kanit-Light.ttf') format('truetype');
}