/* typography */
@font-face {
    font-family: 'kanit-regular';
    src: url(../assets/fonts/Kanit/Kanit-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'kanit-light';
    src: url(../assets/fonts/Kanit/Kanit-Light.ttf) format("truetype");
}

@font-face {
    font-family: 'kanit-bold';
    src: url(../assets/fonts/Kanit/Kanit-Bold.ttf) format("truetype");
}