/* media queries */

/* desktop */
@media screen and (min-width:1215px) {
    main.services__main {
        section.services__container--mobile {
            display: none;
        }
    }
}

@media screen and (min-width:1025px) and (max-width:1214px) {
    main.services__main {
        section.services__container--mobile {
            display: none;
        }
    }

    img.team__image {
        height: 10rem !important;
        width: 10rem !important;
        margin: 1rem 0rem 0rem 2rem !important;
    }

    div.about__description {

        p {
            padding-right: 1rem !important;
        }
    }

}

/* tablet */
@media screen and (min-width:769px) and (max-width:1024px) {
    section.herobox__container {
        align-items: flex-start;
        padding-top: 5rem;

        div.herobox__title {
            h1 {
                margin-left: 1rem;
            }

            h2 {
                margin-left: 1rem;
            }

        }
    }

    main.services__main {
        height: auto;

        section.services__container {
            display: none;
        }

    }

    main.work__main {
        height: auto;

        section.work__container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "work__title"
                "works-card1" "works-card2" "works-card3";
            height: auto;

            div.work__title {

                h1 {
                    padding-left: 2rem;
                }

                h3 {
                    padding-left: 2rem;
                }
            }
        }
    }

    main.about__main {
        height: auto;
        section.about__container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "about__title"
                "about__image"
                "about__description";
            height: auto;
            margin: 3rem 15rem 1rem 15rem;

            div.about__image{
                justify-content: center;
                align-items: center;

                img.team__image {
                    height: 15rem !important;
                    width: 15rem !important;
                    margin: 1rem !important;
                }
            }

            div.about__title {
                padding-top: 2rem;
            }

            div.about__description {

                p {
                    padding: 1rem;
                    text-align: center;
                }
            }
        }
    }
}

/* mobile */
@media screen and (max-width:768px) {

    section.herobox__container {
        align-items: flex-start;
        padding-top: 5rem;

        div.herobox__title {
            h1 {
                margin-left: 1rem;
            }

            h2 {
                margin-left: 1rem;
            }

        }
    }

    main.services__main {
        height: auto;

        section.services__container {
            display: none;
        }

        section.services__container--mobile {
            grid-template-columns: 1fr;
            grid-template-areas:
                "services__title--mobile"
                "services-card1" "services-card2"
                "services-card3" "services-card4"
                "services-card5" "services-card6";

            grid-gap: 1rem;
        }


    }

    main.work__main {
        height: auto;

        section.work__container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "work__title"
                "works-card1" "works-card2" "works-card3";
            height: auto;

            div.work__title {

                h1 {
                    padding-left: 2rem;
                }

                h3 {
                    padding-left: 2rem;
                }
            }
        }
    }

    main.about__main {
        height: auto;
        section.about__container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "about__title"
                "about__image"
                "about__description";
            height: auto;
            margin: 3rem 15rem 1rem 15rem;

            div.about__image{
                justify-content: center;
                align-items: center;

                img.team__image {
                    height: 15rem !important;
                    width: 15rem !important;
                    margin: 1rem !important;
                }
            }

            div.about__title {
                padding-top: 2rem;
                h1{
                    padding-left: 1rem;          
                }
                h3{
                    padding-left: 1rem; 
                }
            }

            div.about__description {

                p {
                    padding: 1rem;
                    text-align: center;
                }
            }
        }
    }
    
}