//Color
$color-accent-blue: #1F4E95;
$color-accent-green: #6DC16B;
$color-basic-grey: #f5f7fa;
$color-accent-grey: #202020;
$color-basic-green:#c3e2de;

//Font
$font-size-title: 7rem;
$font-size-subtitle: 2.5rem;

//Layout
$layout-main-height: 55rem;