//Color
$color-accent-blue: #1F4E95;
$color-accent-green: #6DC16B;
$color-basic-grey: #f5f7fa;
$color-accent-grey: #202020;
$color-basic-green: #c3e2de;

//Font
$font-size-name: 7rem;
$font-size-title: 2.5rem;
$font-size-subtitle: 2rem;
$font-size-heading: 1.5rem;
$font-size-p: 1.2rem;
$font-size-card: 1rem;

//Layout
$layout-main-height: 55rem;
$layout-title-left-padding: 5rem;