/* services main */
main.services__main {
    display: flex;
    justify-content: center;
    height: $layout-main-height;
    background-image: url(../assets/images/logistics-image.jpg);
    background-size: cover;

    section.services__container {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas:
            "services__title services__title"
            "services__list services__description";
        width: 100%;
        margin: 3rem 15rem 15rem 15rem;
        grid-gap: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: $color-basic-grey;
        border-left: 4px solid $color-accent-grey;

        div.services__title {
            grid-area: services__title;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    color:black;
                }
            }

            h1 {
                @include font ('kanit-regular', $font-size-heading, $color-accent-grey, initial);
                padding-left: $layout-title-left-padding;
            }

            h3 {
                @include font ('kanit-regular', $font-size-subtitle, $color-accent-grey, initial);
                padding-left: $layout-title-left-padding;
            }
        }

        div.services__description {
            grid-area: services__description;

            p {
                @include font ('kanit-light', $font-size-p, $color-accent-grey, initial);
                padding-right: 5rem;

            }
        }

        div.services__list {
            grid-area: services__list;
            /* padding-top: 3rem; */

            ul {
                list-style: square;
                padding-left: $layout-title-left-padding;

                li {
                    margin-bottom: 1rem;
                    text-align: left;

                    a {
                        text-decoration: none;
                        @include font ('kanit-regular', $font-size-p, $color-accent-grey, initial);
                        line-height: 1rem;

                        &:hover {
                            color: $color-accent-blue;
                        }

                        &.current-page {
                            text-decoration: underline;
                        }
                    }

                }
            }
        }
    }

    section.services__container--mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "services__title--mobile services__title--mobile"
            "services-card1 services-card2"
            "services-card3 services-card4"
            "services-card5 services-card6";

        margin-top: 2rem;
        grid-gap: 2rem;

        div.services__title--mobile {
            grid-area: services__title--mobile;

            h1 {
                @include font ('kanit-regular', $font-size-heading, $color-accent-grey, initial);
            }
        }

        div.services-card1 {
            grid-area: services-card1;
        }

        div.services-card2 {
            grid-area: services-card2;
        }

        div.services-card3 {
            grid-area: services-card3;
        }

        div.services-card4 {
            grid-area: services-card4;
        }

        div.services-card5 {
            grid-area: services-card5;
        }

        div.services-card6 {
            grid-area: services-card6;
        }

        div.card {
            margin: 0 0 1rem 0;
            height: 20rem;
            border-top: 5px solid black;
            border-radius: 0;

            div.card-body {

                a {
                    text-decoration: none;
                    @include font ('kanit-regular', $font-size-heading, $color-accent-grey, initial);
                }

                p {
                    @include font ('kanit-light', $font-size-card, $color-accent-grey, initial);
                    margin-top: 1rem;
                }

                h6.text-body-secondary {
                    @include font ('kanit-light', $font-size-card, $color-accent-blue !important, initial);
                    margin-top: 1rem;
                }
            }
        }
    }
}