/* header navbar */
header {
    nav.navbar {
        padding: 2rem 0 2rem 0;

        a.navbar-brand {
            svg {
                margin: 0 0 0.5rem 1rem;
            }
        }

        .navbar-toggler {
            border: 0 solid black;
            border-radius: 0;
        }

        div#navbarText {
            ul {
                li {
                    margin: 0 0 0 1rem;

                    a {
                        @include font('kanit-regular', 1.2rem, $color-accent-grey, initial);

                        &:hover {
                            color: $color-accent-blue;
                        }
                    }
                }
            }
        }
    }
}